h1 {
    color: red;
}

h2 {
    color: hsl(30, 50%, 50%);
}

h3 {
    color: #ff8800;
}

li > b {
    color: rgb(200, 150, 171);
}

i {
    color: hsla(99, 38%, 48%, 0.8);
}

#recordings > h2, h3 {
    text-decoration: underline dotted;
}

#unfinishedbusiness p {
    text-align: center;
}

video ~ span {
    display: none;
}

video + p {
    display: none;
}

p.nodisplay {
    display: none;
}

#checkboxblock {
    display: block;
}

#borderfield {
    border-style: solid;
    border-width: 5px;
    border-color: purple;
    border-radius: 10px;
}

[src="team2546meetingrecording.mp4"] {
    max-height: 600px;
    min-width: 25pc;
    position: relative;
}

[src="team2546meetingrecordingaudio.wav"] {
    max-width: 5in;
}

#randomform .textbox {
    height: 400px;
    width: 500px;
    position: static;
}

button:hover {
    color: green;
}

button:active {
    color: blue;
}

footer > h3 {
    font-family: 'Permanent Marker', cursive;
}
